<% if destinations.any? %>
  <h1>Below are the destinations that you've created</h1>
  <ul>
    <% destinations.each do |destination| %>
      <li><%= destination.display_name %>
        <%= link_to "Edit", edit_destination_path(destination) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>You don't have any destinations yet.</h1>
<% end %>

<%= link_to "Add Destination", new_destination_path %>
